@import url("https://fonts.google.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ff7920;
    clip-path: polygon(0% 100%,0% 5%,100% 100%); /* 3 parameters for 3 sides of triangle (can be 4 also).In single parameter, 1st is how much and 2nd is from where*/
}
 body::after{ 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #141414;
    clip-path: polygon(100% 100%,100% 5%,0% 100%);
}
.container{
    height: 45rem;
    width: 25rem;
    background: linear-gradient(#ff7920,#ff5e00 10%);
    box-shadow: 0 0 3rem rgba(33, 33, 33, .3);
    border-radius: 2rem;
    z-index: 1;
}
.label{
    height: 15%;
    width: 100%;
    position: relative;
}
.logo{
    position: absolute;
    height: 3rem;
    width: 10rem;
    background-color: #272727;
    border-radius: 20rem;
    right:2rem;
    bottom:2rem;
    color: #ff7920;
    padding: .8rem;
    box-shadow: 0 0 .2rem .2rem #ff7920;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 85%;
    width: 100%;
    background: linear-gradient(#383838,#141414);
    border-bottom-left-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
}
.displayBox{
    height: 20%;
    width: 100%;
    border-bottom: .1rem solid #141414;
    padding: 1.4rem;
}
.display{
    height: 100%;
    width: 100%;
    background-color: #181818;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nosDisplay, #operatorDisplay {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#nosDisplay{
    height: 100%;
    width: 95%;
    color: #a07cd9;
    font-size: 2.5rem;
    padding: .1rem;
    overflow-x: scroll;
}
#operatorDisplay{
    height: 100%;
    width: 5%;
    color: #694cee;
    font-size: 1.4rem;
    padding: .3rem;
}
.numbers{
    height: 80%;
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.cover{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 100%;
    margin-top: .5rem;
    margin-left: .8rem;
    margin-right: .7rem;
    display: flex;
    padding: .2rem;
    box-shadow: 0 0 3rem rgba(33, 33, 33, .3);
    cursor: pointer;
}
.btn{
    height: 3.3rem;
    width: 3.3rem;
    margin: auto;
    border-radius: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: .8rem;    
}

.dot.cover { /* just to keep dot and prev_char_remove in middle */
    margin-left: 6.8rem;
}

.seven.cover, .eight.cover, .nine.cover, 
.four.cover, .five.cover, .six.cover, .three.cover, 
.two.cover, .one.cover, .zero.cover, .dot.cover {
    background: linear-gradient(#272727, #141414);
}
.seven.btn, .eight.btn, .nine.btn, 
.four.btn, .five.btn, .six.btn, .three.btn, 
.two.btn, .one.btn, .zero.btn, .dot.btn {
    background: linear-gradient(#141414 10%, #272727);
    color: rgb(228, 224, 224);
}
.seven.btn:active, .eight.btn:active, .nine.btn:active, /* for click effect */
.four.btn:active, .five.btn:active, .six.btn:active, .three.btn:active, 
.two.btn:active, .one.btn:active, .zero.btn:active, .dot.btn:active{
    background: #272727;
}
.divide.cover, .multi.cover, 
.subs.cover, .add.cover, 
.equal.cover, .prev_char_remove.cover{
    background: linear-gradient(#fff, rgb(202, 202, 202));
}
.divide.btn, .multi.btn, 
.subs.btn, .add.btn, 
.equal.btn, .prev_char_remove.btn {
    background: linear-gradient(rgb(202, 202, 202), #fff);
    color: #272727;
}
.divide.btn:active, .multi.btn:active, /* for click effect */
.subs.btn:active, .add.btn:active, 
.equal.btn:active, .prev_char_remove.btn:active{
    background: rgb(202, 202, 202);
}

.cancel.cover{
    background: linear-gradient(#ff7920, #ff5e00);
}
.cancel.btn{
    background: linear-gradient(#ff5e00, #ff7920);
    color: rgb(228, 224, 224);
}
.cancel.btn:active { /* for click effect */
    background: #ff5e00;
}

/* to make it responsive */
@media screen and (max-width: 850px){ 
    .container {
        height: 33rem;
        width: 18rem;
    }
    .logo {
      height: 1.3rem;
      width: 7.5rem;  
      font-size: .7rem;
      bottom: 1.5rem;
      right: 1.5rem;
      box-shadow: 0 0 .1rem .1rem #ff7920;
    } 
    .displayBox {
        padding: .8rem;
    }
    #nosDisplay{
        font-size: 2.3rem;
        padding: .2rem;
    }
    #operatorDisplay{
        font-size: 1.2rem;
        padding: .2rem;
        margin-left: .1rem;
    }
    .cover {
        height: 3.4rem;
        width: 3.4rem;
        margin-top: .3rem;
        margin-left: .6rem;
        margin-right: .5rem;
        padding: .1rem;
        box-shadow: 0 0 2rem rgba(33, 33, 33, .3);
    }  
    .dot.cover { 
        margin-left: 5rem;
    }
    .btn {
        height: 2.3rem;
        width: 2.3rem;
        font-size: 1.5rem;
        padding: .3rem;
    }
}